.container {
  border-radius: 10px;
  display: block;
  width: 1100px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  padding: 70px 30px 0;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 250px;
    background: url('/assets/img/imgCity.jpg');
    background-size: cover;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.poster {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
  &__img {
    height: 200px;
    background: url('/assets/img/imgCity.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    .content {
        background: rgba(0,0,0,.35);
        padding: 4rem;
      }
  }
  &__info {
    background: #fff;
    padding: 25px 25px 40px;
  }
  &__text {
    font-size: .9em;
    color: rgb(112, 107, 107);
    font-weight: 300;
    column-count: 5;
  }
}

/* label color */
.input-field label {
  color: #ecf0f1;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ecf0f1;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ecf0f1;
  box-shadow: 0 1px 0 0 #ecf0f1;
}
input {
    color: #ecf0f1;
}
  
