<div class="container">
    <div class="poster">
        <div class="poster__img">
            <div class="row content">
                <div class="input-field col s12">
                    <input id="Filtrar_palabra" type="text" [(ngModel)]="searchText">
                    <label for="Filtrar_palabra">Filtrar palabra</label>
                </div>
            </div>
        </div>
        <div class="poster__info">
            <h4>Ciudades</h4>
            <div class="poster__text">
                <ul *ngFor="let item of listName | filterdata: searchText">
                    <li>{{item.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>